.App {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 8px 20px;
    background-color: #ddd;
    border: 1px solid #ccc;
}

.counter {
    padding: 8px 20px;
    font-size: calc(12px + 2vmin);
}

.button {
    border: 1px solid #aaa;
    background-color: #999;
    padding: 8px 20px;
    font-size: 14px;
}
